main {
  padding: 2rem;
}

form input {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

form button {
  background-color: darkorange;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  margin: 0 1rem;
}

.todo.strike {
  color: rgb(180, 12, 12);
  text-decoration: line-through;
}

button {
  font-size: inherit;
}
